{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select cars</title>
    <link rel="stylesheet" href="{% static './css/styles.css' %}">
</head>
<body>

    <section class="car-catalog">
        <div class="car-card">
            <img src="{% static './images/1.png'%}" alt="Sedan Car">
            <h2>Sedan</h2>
            <p>Nissan Altima, Honda Accord, Toyota Camry,Swift Dzire</p>
            <div>
                <div style="display: flex; justify-content: space-between; margin: 10px;">
                    <p><strong>Price:</strong></p>
                    <p style="color: green;">₹ 50</p>
                </div>
                <div style="display: flex; justify-content: space-between; margin: 10px;">
                    <p><strong>Included Km</strong></p>
                    <p style="color: green;">50km</p>
                </div>
                <div style="display: flex; justify-content: space-between; margin: 10px;">
                    <p><strong>Extra Fare/Km</strong></p>
                    <p style="color: green;">₹ 9.5/Km</p>
                </div>
                <div style="display: flex; justify-content: space-between; margin: 10px;">
                    <p><strong>Fuel Charges</strong></p>
                    <p style="color: green;">Included</p>
                </div>
                <div style="display: flex; justify-content: space-between; margin: 10px;">
                    <p><strong>Driver Charges</strong></p>
                    <p style="color: green;">Included</p>
                </div>
                <div style="display: flex; justify-content: space-between; margin: 10px;">
                    <p><strong>Night Charges</strong></p>
                    <p style="color: green;">Included</p>
                </div>
            </div>
            <a href="cars2.html"><button>Book Now</button></a>
        </div>
        
        <div class="car-card">
            <img src="{% static './images/2.png'%}" alt="Sedan Car">
            <h2>Suv</h2>
            <p>Nissan Altima, Honda Accord, Toyota Camry, Swift Dzire</p>
            <div>
                <div style="display: flex; justify-content: space-between; margin: 10px;">
                    <p><strong>Price:</strong></p>
                    <p style="color: green;">₹ 50</p>
                </div>
                <div style="display: flex; justify-content: space-between; margin: 10px;">
                    <p><strong>Included Km</strong></p>
                    <p style="color: green;">50km</p>
                </div>
                <div style="display: flex; justify-content: space-between; margin: 10px;">
                    <p><strong>Extra Fare/Km</strong></p>
                    <p style="color: green;">₹ 9.5/Km</p>
                </div>
                <div style="display: flex; justify-content: space-between; margin: 10px;">
                    <p><strong>Fuel Charges</strong></p>
                    <p style="color: green;">Included</p>
                </div>
                <div style="display: flex; justify-content: space-between; margin: 10px;">
                    <p><strong>Driver Charges</strong></p>
                    <p style="color: green;">Included</p>
                </div>
                <div style="display: flex; justify-content: space-between; margin: 10px;">
                    <p><strong>Night Charges</strong></p>
                    <p style="color: green;">Included</p>
                </div>
            </div>
            <a href="cars2.html"><button>Book Now</button></a>
        </div>

        <div class="car-card">
            <img src="{% static './images/5.png'%}" alt="Sedan Car">
            <h2>Hatchback</h2>
            <p>Hyundai i10, Honda Civic, Kia Rio, Hyundai Elantra GT</p>
            <div>
                <div style="display: flex; justify-content: space-between; margin: 10px;">
                    <p><strong>Price:</strong></p>
                    <p style="color: green;">₹ 50</p>
                </div>
                <div style="display: flex; justify-content: space-between; margin: 10px;">
                    <p><strong>Included Km</strong></p>
                    <p style="color: green;">50km</p>
                </div>
                <div style="display: flex; justify-content: space-between; margin: 10px;">
                    <p><strong>Extra Fare/Km</strong></p>
                    <p style="color: green;">₹ 9.5/Km</p>
                </div>
                <div style="display: flex; justify-content: space-between; margin: 10px;">
                    <p><strong>Fuel Charges</strong></p>
                    <p style="color: green;">Included</p>
                </div>
                <div style="display: flex; justify-content: space-between; margin: 10px;">
                    <p><strong>Driver Charges</strong></p>
                    <p style="color: green;">Included</p>
                </div>
                <div style="display: flex; justify-content: space-between; margin: 10px;">
                    <p><strong>Night Charges</strong></p>
                    <p style="color: green;">Included</p>
                </div>
            </div>
            <a href="cars2.html"><button>Book Now</button></a>
        </div>

        <div class="car-card">
            <img src="{% static './images/3.png'%}" alt="Sedan Car">
            <h2>Roadster</h2>
            <p>Nissan Altima, Honda Accord, Toyota Camry,Swift Dzire</p>
            <div>
                <div style="display: flex; justify-content: space-between; margin: 10px;">
                    <p><strong>Price:</strong></p>
                    <p style="color: green;">₹ 50</p>
                </div>
                <div style="display: flex; justify-content: space-between; margin: 10px;">
                    <p><strong>Included Km</strong></p>
                    <p style="color: green;">50km</p>
                </div>
                <div style="display: flex; justify-content: space-between; margin: 10px;">
                    <p><strong>Extra Fare/Km</strong></p>
                    <p style="color: green;">₹ 9.5/Km</p>
                </div>
                <div style="display: flex; justify-content: space-between; margin: 10px;">
                    <p><strong>Fuel Charges</strong></p>
                    <p style="color: green;">Included</p>
                </div>
                <div style="display: flex; justify-content: space-between; margin: 10px;">
                    <p><strong>Driver Charges</strong></p>
                    <p style="color: green;">Included</p>
                </div>
                <div style="display: flex; justify-content: space-between; margin: 10px;">
                    <p><strong>Night Charges</strong></p>
                    <p style="color: green;">Included</p>
                </div>
            </div>
            <a href="cars2.html"><button>Book Now</button></a>
        </div>

        <div class="car-card">
            <img src="{% static './images/4.png'%}" alt="Sedan Car">
            <h2>Coupe</h2>
            <p>Nissan Altima, Honda Accord, Toyota Camry,Swift Dzire</p>
            <div>
                <div style="display: flex; justify-content: space-between; margin: 10px;">
                    <p><strong>Price:</strong></p>
                    <p style="color: green;">₹ 50</p>
                </div>
                <div style="display: flex; justify-content: space-between; margin: 10px;">
                    <p><strong>Included Km</strong></p>
                    <p style="color: green;">50km</p>
                </div>
                <div style="display: flex; justify-content: space-between; margin: 10px;">
                    <p><strong>Extra Fare/Km</strong></p>
                    <p style="color: green;">₹ 9.5/Km</p>
                </div>
                <div style="display: flex; justify-content: space-between; margin: 10px;">
                    <p><strong>Fuel Charges</strong></p>
                    <p style="color: green;">Included</p>
                </div>
                <div style="display: flex; justify-content: space-between; margin: 10px;">
                    <p><strong>Driver Charges</strong></p>
                    <p style="color: green;">Included</p>
                </div>
                <div style="display: flex; justify-content: space-between; margin: 10px;">
                    <p><strong>Night Charges</strong></p>
                    <p style="color: green;">Included</p>
                </div>
            </div>
            <a href="cars2.html"><button>Book Now</button></a>
        </div>

        <div class="car-card">
            <img src="{% static './images/6.png'%}" alt="Sedan Car">
            <h2>Crossover</h2>
            <p>Nissan Altima, Honda Accord, Toyota Camry,Swift Dzire</p>
            <div>
                <div style="display: flex; justify-content: space-between; margin: 10px;">
                    <p><strong>Price:</strong></p>
                    <p style="color: green;">₹ 50</p>
                </div>
                <div style="display: flex; justify-content: space-between; margin: 10px;">
                    <p><strong>Included Km</strong></p>
                    <p style="color: green;">50km</p>
                </div>
                <div style="display: flex; justify-content: space-between; margin: 10px;">
                    <p><strong>Extra Fare/Km</strong></p>
                    <p style="color: green;">₹ 9.5/Km</p>
                </div>
                <div style="display: flex; justify-content: space-between; margin: 10px;">
                    <p><strong>Fuel Charges</strong></p>
                    <p style="color: green;">Included</p>
                </div>
                <div style="display: flex; justify-content: space-between; margin: 10px;">
                    <p><strong>Driver Charges</strong></p>
                    <p style="color: green;">Included</p>
                </div>
                <div style="display: flex; justify-content: space-between; margin: 10px;">
                    <p><strong>Night Charges</strong></p>
                    <p style="color: green;">Included</p>
                </div>
            </div>
            <a href="cars2.html"><button>Book Now</button></a>
        </div>
    </section>
    
</body>
</html>
